div(class="flex-fill d-flex flex-column" id="tweet-list-container")
  if tweets
    each tweet in tweets
      div(class="card tweet-element")
        div(class="card-body")
          a(class="card-text" href="/tweets/edit/" + tweet._id)= tweet.content
          button(class="btn btn-danger btn-sm float-right" tweetid=tweet._id) Delete